[Desktop Entry]
Encoding=UTF-8
Name=FreeWRL
GenericName=web3d browser
Comment=View X3D and VRML files
Exec=/usr/bin/freewrl
Icon=freewrl
Terminal=false
Type=Application
MimeType=x-world/x-vrml;model/vrml;model/x3d+xml;model/x3d+vrml;
Categories=Graphics;3DGraphics;Viewer;
