[Desktop Entry]
Name=freewrl
Comment=.wrl .x3d web3d virtual reality player freewrl.sf.net
Exec=freewrl
Icon=freewrl
Type=Application
Categories=Graphics;